.pagination {
  margin: auto;
  display: flex;
  list-style: none;
  outline: none;
  margin-left: 1000px !important;
  margin-top: 20px !important;
  border-radius: 5px;
}
.pagination > .active > a {
  background-color: #47ccde;
  border-color: #47ccde;
  color: #fff;
  border-radius: 5px;
}
.pagination > li > a {
  border: 1px solid #47ccde;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #47ccde;
  border-color: #47ccde;
  outline: none;
  border-radius: 5px;
}
.pagination > li > a,
.pagination > li > span {
  color: #47ccde;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
  border-radius: 5px;
}
body{
  font-family: 'Open Sans';
  width: 100%;
}
.text{
  text-align: center;
}
.table {
    margin: auto;
    border: 1px solid #ededed !important;
}
